

:root{
    --cal-width: 1400px;
    --day-width: 195px;
    --day-margin: 5px;
}


table, th, td {
    border: 1px solid rgb(243, 243, 243);
    border-collapse: collapse;
    table-layout: fixed;
    vertical-align: top;
}

th {
    color:grey;
    padding: 5px 0px;
}

td{
    padding:5px 5px;
}

.day{
    min-height:150px;
    min-width:var(--day-width);
    max-width:var(--day-width);
    margin-left:var(--day-margin);
}

.day .top{
    display:flex;
    justify-content: space-between;
    padding:0px;
}

.day .top p{
    font-weight:800;
    color:rgba(0, 0, 0, 0.459);
    width:30px;
    height:25px;
    text-align: center;
    padding-top:5px;
    border-radius:5px;
    background-color:rgb(155, 187, 255);
    margin:0px;
}

.day .top .tools{
    display:flex;
    opacity:0;
    transition:all 0.2s ease-in-out;
}

.day .top .tools div{
    margin-right:5px;
    color:grey;
    width:30px;
    height:30px;
    display:flex;
    justify-content: space-around;
    border-radius:5px;
    cursor:pointer;
}
.day .top .tools div:hover{
    background-color:rgb(231, 231, 231);
}

.day .top .tools div ion-icon{
    font-size:14pt;
    font-weight:700s;
    margin-top:5px;
}

.day:hover .tools{
    opacity:1;
}





.task{
    display:flex;
    justify-content: space-between;
    font-size:9pt;
    max-width:var(--day-width);
    outline:none;
    padding:0px 0px;
    background-color:rgb(255, 255, 255);
    margin: 3px 0px;
    color:black;
}

.task p{
    background-color:rgb(255, 255, 255);
    width: 100%;
    margin:0px;
    padding:2.6px 0px;
    padding-left:26px;
    border-radius:5px;
}

.task p:focus {
    background-color:rgb(230, 230, 230);
    outline:none;
}



/** CHECKMARK **/
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius:3px;
    background-color: rgb(255, 255, 255);
    border: rgb(197, 197, 197) 1px solid;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(248, 248, 248);
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ffffff;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 4px;
    height: 8px;
    border: solid rgb(82, 82, 82);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media all and (max-width: 600px){
      table {
          font-size: 13pt;
          margin:auto;
          max-width:100%;
      }
      .day .top .tools{
            opacity:1;
            font-weight:bold;
        }
      .task {
          max-width:100%;
      }
      .task p {
        font-size: 13pt;
        padding-left:50px;
        width:100%;
      }
      .task p:focus {
          background-color:rgba(255, 255, 255, 0);
      }
      .checkmark {
          height:25px;
          width:25px;
      }
      .container .checkmark:after{
          width:6px;
          height:12px;
          left:8.5px;
      }
      th {
          display:none;
      }
      td {
        display:block;
      }
      .day{
          min-width:94%;
          max-width:94%;
      }
  }