
.topbar {
    background-color:rgb(255, 255, 255);
    width:100%;
    height:120px;
    padding-top:20px;
    font-size:10pt;
}

#signin, #logout {
    display:none;
    float:right;
}

.profile {
    display:flex;
    align-items: center;
    justify-content: space-between;
    opacity:0;
}
.profile div {
    display:flex;
    align-items: center;
}

#image {
    width:30px;
    height:30px;
    border-radius:4px;
    margin-right:15px;
}

#name {
    font-weight:600;
}

.topbar button{
    border:none;
    background-color:white;
    font-size:10pt;
    font-weight:bold;
    color:rgb(78, 78, 78);
    border:2px solid rgb(209, 209, 209);
    padding: 4px 10px;
    margin: 0px 5px;
    outline:none;
    border-radius:4px;
    cursor:pointer;
}

.topbar button:hover{
    background-color:rgb(241, 241, 241);
}
.topbar button:active{
    background-color:rgb(211, 211, 211);
}


@media all and (max-width: 600px){
    .topbar {
        margin-top:20px;
        margin-bottom:20px;
    }
    .topbar button {
        font-size:11.5pt;
    }
    .topbar button:hover{
        background-color:rgba(255, 255, 255, 0);
    }
    .topbar button:active{
        background-color:rgb(211, 211, 211);
    }
    .profile {
        padding-left:20px;
        padding-top:0px;
    }
    #image {
        width:45px;
        height:45px;
        margin-right:20px;
    }
    #name {
        font-size:14pt;
    }
}